.spacing{
	height:50;
	background-color:black;
}


.sidenav {
  width: 150px;
}

.sidenav .mat-toolbar {
  background:orange;
}
.start{
	margin:50px;
	background:white;
	width:1300px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
